@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed|Ubuntu+Mono|Ubuntu:300,400,700');

body{
    font-family:ubuntu;
    font-size:1em;
    font-size:16px;
}

div.logo-sb{
    background-color:white;
}

div.logo-sb img{
    margin:10px;
}

div.header h2{
    font-family:'Ubuntu Condensed' !important;
}

article h2,div.header h1{
    font-family:ubuntu;
    font-weight:300;
    
}

article h2{
    text-shadow:1px 1px 2px #afb9c255;
}

pre,code{
    font-family:'Ubuntu Mono';
}

p code{
    background-color: #f9f9f9;
    padding : 3px 6px;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
}

div.content p{
    font-size:0.95em;
}

a:visited{
    color:#004c78;
}

.hljs{
    border-right: 5px solid gray;
}
